.ronny{
    width: 350px;
    height: 200px;
    background-color: peru;
    text-align: center;
    border-radius: 10%;

}
.mwale{
    width: 350px;
    height: 500px;
    background-color: darkslategray;
    border-radius: 10%;
    margin: auto;

}
.head{
    color: gray;
    text-align: center;
}
.thegoat{
    color: gray;
    text-align: center
    ;
}
.tag{
    color: gray;

text-align: justify;}
.lyca{
    color: black;
    
}
.ronny img{
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}